<!DOCTYPE html>
<html>
<head>
    <title>InvNet Simulator</title>
</head>
<body>
    <h2>Input for generating the circle.</h2>
    <form method="post" enctype="multipart/form-data">
        <h5>circle1 x-coordinate</h5>
        <input type="number" name="x1" step="0.01">
        <h5>circle1 y-coordinate</h5>
        <input type="number" name="y1" step="0.01">
        <h5>circle1 radius</h5>
        <input type="number" name="r1" step="0.01">
        <h5>circle2 x-coordinate</h5>
        <input type="number" name="x2" step="0.01">
        <h5>circle2 y-coordinate</h5>
        <input type="number" name="y2" step="0.01">
        <h5>circle2 radius</h5>
        <input type="number" name="r2" step="0.01">
        <input type="submit" value="upload">
    </form>
    <img src="{{ imgpath }}" alt="Gen image">
</body>
</html>